* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    height: 100%;
}

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

#quote-box {
    background-color: white;
    border-radius: 10px;
}

.quotes-provided-by,
.quotes-provided-by a {
    color: white;
}