* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    height: 100%;
}

body {
    height: 100vh;
}

#quote-box {
    background-color: white;
}

.quotes-provided-by,
.quotes-provided-by a {
    color: white;
}